body{
    font-family: Roboto, sans-sarif;
    font-weight: 600;
    margin: 0px;
    margin-bottom: 120px;
}
.wrapping {
    width: 1366px;
}
section {
    margin-bottom: 120px;
    padding: 150px 0px;
    height: 200px;
}
.left-margin {
    margin-left: 30px;
}
header{
    margin: 20px;
    margin-right: 50px;
    padding: 5px 20px;
    text-align: right;
}
header a {
    color: #3C3C3C;
    font-family: Roboto;
    text-decoration: none;
    padding: 5px;
    font-weight: 800;
}
.color-1 {
    color: #363958;
}
.color-2 {
    color: #FF8367;
}
.color-3 {
    color: #3E3E3E;
}
.introduction {
    font-family: Bebas Neue;
    font-size: 70px;
    font-weight: 400;
}
.hero {
    padding: 20px;
}
.hero p {
    font-weight: 500;
    width: 450px;
    margin-top: -30px; 
    padding-bottom: 20px;
}
.half-width img {
    width: 60%;
    height: 60%;
}
#first-img {
    margin-left: 150px;
}
.half-width {
    width: 50%;
    float: left;
}
.hero-text {
    padding-top: 40px;
}
.button {
    border-radius: 10px;
    background-image: linear-gradient(45deg, #FF8063, #F46060);
    padding: 20px 45px;
    color: white;
    text-decoration: none;
    font-weight: 800;
}
.section-heading {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 48px;
    color: #363958;
}
.section-text {
    width: 87%;
    padding-bottom: 20px;
}
#download-icon {
    float: left;
    height: 12px;
    width: 12px;
    margin-left: 40px;
}
#latest-projects {
    text-align: center;
    background-color: #F8F9FC;
    margin-top: 50px;
    padding-top: 50px;
    height: 700px;
    padding: 0px 20px;
}
#latest-projects h2 {
    padding-top: 50px;
    padding-bottom: 30px;
}
.project-item {
    height: 375px;
    width: 27%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    margin: 5px 15px;
    text-align: left;
    float: left;
    color: #6C6C6C;
    box-shadow: 1px 1px 50px #6c6c6c67;
}
.project-item h3{
    color: #363958;
    font-weight: 700;
}
.project-list {
    margin-left: 50px;
}
#work-enquiry {
    background-image: url(img/shape.png);
    background-repeat: no-repeat;
    background-size: 906px 225px;
    height: 225px;
    width: 906px;
    margin: 0 auto;
    margin-top: -260px;
}
#work-enquiry h3{
    text-transform: uppercase;
    color: white;
    font-size: 64px;
    font-family: Bebas Neue, sans-serif;
    width: 50%;
    padding-left: 70px;
    padding-top: 75px;
}
#work-enquiry a {
    float: right;
    margin-top: -130px;
    margin-right: 50px;
}
footer h4 {
    text-transform: uppercase;
    color: #696871;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    margin-top: -360px;
    font-weight: 500;
    font-family: Bebas Neue, sans-sarif;
}
.icons {
    margin-top: -20px;
}
.social-icon {
    height: 40px;
    width: 40px;
    margin: 0px 10px;
}
footer h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    margin-top: -5px;
}